{% set site = data.site %}
{% set site_def = data.site_default %}

{% set site_title = site.title | default:site_def.title %}
{% set site_description = site.description | default:site_def.description %}
{% set site_favicon = site.favicon | default:site_def.favicon %}

<!DOCTYPE html>
<html lang='{{ page.lang | default:"en" }}'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
      {% if page.title and page.title != site_title %}
        <title>{{ page.title }} - {{ site_title }}</title>
      {% else %}
        <title>{{ site_title }}</title>
      {% endif %}
    {% endblock %}

    {% block seo %}
      {% set description = page.description | default:site_description %}
      {% if description %}
        <meta name="description" content="{{ description }}">
      {% endif %}
      {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords }}">
      {% endif %}
      {% if page.title %}
        <meta property="og:title" content="{{ page.title }}">
      {% endif %}
      {% if description %}
        <meta property="og:description" content="{{ description }}">
      {% endif %}
      {% if page.permalink %}
        <link rel="canonical" href="{{ page.permalink }}">
      {% endif %}
      <meta property="og:type" content='{{ page.og_type | default:"website" }}'>
    {% endblock %}

    {% block favicon %}
      {% if site_favicon %}
        <link rel="shortcut icon" href="{{ url(site_favicon) }}">
      {% endif %}
    {% endblock %}

    <link rel="stylesheet" href="{{ url('styles.css') }}">

    <!-- markup-fmt-ignore -->
    <script>{{ load_data("public/_vara/js/build/head.js") | safe }}</script>

    {% block head_extra %}{% endblock %}
  </head>
  <body class="w-dvh h-dvh overflow-hidden bg-base-100 text-content">
    {% block body %}{% endblock %}
  </body>
</html>
