<footer class="{% if docs_pagination.previous or docs_pagination.next %}pt-0{% else %}pt-12{% endif %} desk:pb-4">
  <div class="border-t border-base-400 pt-8">
    <p class="text-sm text-content-muted">
      Built with
      <a
        href="https://github.com/varavelio/veta"
        target="_blank"
        rel="noopener noreferrer"
        class="font-medium text-content transition-colors hover:text-info"
      >veta</a>
      and
      <a
        href="https://github.com/varavelio/veta-theme-vara"
        target="_blank"
        rel="noopener noreferrer"
        class="font-medium text-content transition-colors hover:text-info"
      >veta-theme-vara</a>
    </p>
  </div>
</footer>
