## Documentation index

{% for item in docs_llms_pages() %}
  {{- item.indent }}- {{ item.title|safe }}
{% endfor %}

## Documentation content

{% for item in docs_llms_pages() %}---

{{ item.content|safe }}

{% endfor %}
