{% extends "./base/main.j2" %}

{% block body %}
  <div class="flex min-h-0 flex-1 flex-col bg-base-100">
    <div class="min-w-0 flex-1">
      {{ page.content|safe }}
    </div>
  </div>
{% endblock %}
