{% set max_width = props.max_width|default:"md" %}
{% set padded = props.padded|default:"true" %}
{% set align = props.align|default:"center" %}

{% if max_width == "xs" %}
  {% set width_cls = "max-w-md" %}
{% elif max_width == "sm" %}
  {% set width_cls = "max-w-3xl" %}
{% elif max_width == "md" %}
  {% set width_cls = "max-w-6xl" %}
{% elif max_width == "lg" %}
  {% set width_cls = "max-w-7xl" %}
{% elif max_width == "xl" %}
  {% set width_cls = "max-w-[120rem]" %}
{% else %}
  {% set width_cls = "max-w-full" %}
{% endif %}

{% if padded == "true" %}
  {% set pad_cls = "px-4" %}
{% else %}
  {% set pad_cls = "" %}
{% endif %}

{% if align == "left" %}
  {% set align_cls = "mr-auto" %}
{% elif align == "right" %}
  {% set align_cls = "ml-auto" %}
{% else %}
  {% set align_cls = "mx-auto" %}
{% endif %}

<div class="w-full {{ width_cls }} {{ pad_cls }} {{ align_cls }}{% if props.class %} {{ props.class }}{% endif %}">
  {{ props.content|safe }}
</div>
