{% import "../templates/vara/macros/badge.j2" badge %}

{{ badge(props.text|default:props.content|default:"", props.size|default:"md", props.variant|default:"soft", props.color|default:"neutral", "not-prose{% if props.class %} {{ props.class }}{% endif %}") }}
